<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fileName" value="DoctorPrivilege_{BUID}_{BUNAME}_"/>
    <add key="path" value="C:\temp\{BUNAME}\"/>
    <add key="workingdirectory" value="/app/sftpfile/drfile/"/>
    <add key="host" value="172.18.62.226"/>
    <add key="svh_username" value="epmsSVH"/>
    <add key ="svh_password" value="svhPasskgtx"/>
    <add key="snh_username" value="epmsSNH"/>
    <add key ="snh_password" value="snhPasshdqp"/>
    <add key="" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Chache89" connectionString="Server=10.104.10.89; Port=1972; Namespace=PROD-TRAK;Password=sys; User ID=superuser" />
    <add name="Chache112" connectionString="Server=10.104.10.112; Port=1972; Namespace=PROD-TRAK;Password=sys.dev.@dmin; User ID=adminsmit" />
    <add name="svh-sql3" connectionString="Data Source=svh-sql3.samitivej.co.th;Initial Catalog=MEDTRAK_DATA;User Id=osa2;Password=osa2" />
    <add name="SVH24-SQL" connectionString="Server=SVH24-SQL.samitivej.co.th;uid=sa;pwd=sa;database=PTSYS"/>
    <add name="SVH24-SQL_PTSYSPROD" connectionString="Server=SVH24-SQL.samitivej.co.th;uid=sa;pwd=sa;database=PTSYS_PROD"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>